# Data Science Tools and Ecosystem
## In this notebook, Data Science Tools and Ecosystem are summarized.
### Objectives:
* R Studio
* Scala
* Jupiter Notebook
### Some of the popular languages that Data Scientists use are:
     1. R Studio
     2. Phython
     3. SQL
### Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas 
    3. Matplotlib 
    4. Scikit-learn
|Data Science Tools|
|-------------------|
|Python|
|R|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python
x= (1.5 + 5)
print(x)

In [3]:
(3*4)+5

17

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335